body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d0c3b8; /* Beige */
    color: #444242; /* Black */
}

header {

    font-size: 20px;
    font-family: 'Space Mono', monospace;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 4em;
}

.dotlessList {
    list-style: none;
    display: flex;
    gap: 3em;
    padding-right: 3em;
}

.dotlessList li a {
    color: #444242; /* Black */
    text-decoration: none;
}

#hero {
    font-family: 'Space Mono', monospace;
    color: #444242; /* Black */
    text-align: center;
    padding: 2em 5em;
}

#hero button {
    background-color: #5D3A1A; /* Walnut Brown */
    color: #F5F5DC; /* Beige */
    text-decoration: none;
    font-size: 15px;
    border: 2px solid #444242;
    border-radius: 30px;
    padding: 1em 1em;
    cursor: pointer;
}

#about {
    background-color: #5D3A1A; /* Walnut Brown */
    color: #F5F5DC; /* Beige */
    display: flex;
    align-items: center;
    padding: 2em;
}

#about img {
    max-width: 150px;
    margin-right: 2em;
}

#works {
    background-color: #F5F5DC; /* Beige */
    color: #000000; /* Black */
    padding: 2em;
}

#contact {
    background-color: #000000; /* Beige */
    color: #F5F5DC; /* Black */
    padding: 2em;
}
footer {
    background-color: #000000; /* Black */
    color: #F5F5DC; /* Beige */
    text-align: center;
    padding: 1em 0;
}

.logo > a{
    text-decoration: none;
    color: #010101; /* Black */
    
    font-size: 25px;
}

